tqdm
wikipedia-api
requests
langchain
tiktoken
slugify
faiss-cpu
openai
langchain-community
sentence-transformers
langchain-huggingface
accelerate
ctransformers
python-dotenv
fastapi
uvicorn
pydantic
langchain-ollama
huggingface-hub
nltk


